/* http://wdn.unl.edu/resources/colors */
.myGridLayout {
    background: #FEFDFA;
}
.myGrid {
    /*width: 900px;*/
    height: 912px;
}

/* http://jsfiddle.net/AhakQ/7/ */
.rating {
    color: #a9a9a9;
    margin: 0;
    padding: 0;
}
ul.rating {
    display: inline-block;
}
.rating li {
    list-style-type: none;
    display: inline-block;
    padding: 1px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
.rating .filled {
    color: #D00000;
}
/* Needed to display (local) fonts defined in http://ui-grid.info/release/ui-grid-unstable.css */
@font-face {
  font-family: 'ui-grid';
  src: url('../resource/ui-grid.eot');
  src: url('../resource/ui-grid.eot#iefix') format('embedded-opentype'), url('../resource/ui-grid.woff') format('woff'), url('../resource/ui-grid.ttf?') format('truetype'), url('../resource/ui-grid.svg?#ui-grid') format('svg');
  font-weight: normal;
  font-style: normal;
}